.date-container
    text-align: center

.date-rectangle
    width: 85px
    margin-left: 28%
    border: 1px solid white
    border-radius: 15px

.day
    margin-top: 10px
    margin-bottom: 10px

.divider-line
    width: 50px

.low-margin
    margin: 5px

.bottom-margin
    margin-bottom: 10px
