@use '@angular/material' as mat;
@use "sass:map";
@include mat.core();

$selling-ticket-ui-primary: mat.define-palette(mat.$indigo-palette);
$selling-ticket-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$selling-ticket-ui-warn: mat.define-palette(mat.$red-palette);
$selling-ticket-ui-theme: mat.define-light-theme((
  color: (
    primary: $selling-ticket-ui-primary,
    accent: $selling-ticket-ui-accent,
    warn: $selling-ticket-ui-warn,
  ),
  density: 0,
));

@include mat.all-component-themes($selling-ticket-ui-theme);

