body
    margin: auto 0
    background: url(./assets/background1.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

@media (max-width: 768px)
    body
        // margin: auto 0
        background: url(./assets/background2.jpg) no-repeat center center fixed
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
